* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #4B4B4B;

}

/* Typography */

h1 {
    font-size: 4.5rem;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
    color: #351C75;
    padding: 0px 0px 50px 0px;
}

h3 {
    font-size: 2.25rem;
    color: #ffffff;
}

.mission {
    color: #F9B813;
}

.h1-home {
    color: white;
}

a {
    text-decoration: none;
}

/* Layout */

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1440px;
    background-color: #fdfdfd;
    /* min-width: 700px; */
}
.header-top {
    height: 140px;
    width: 100%;
    background-color: #2B7357;
    display: flex;
}
.logo {
    align-items: center;
    padding-left: 5em;
}
nav {
   background-color: #FDF8E0;
   height: 90px;
}

.hero {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.h1-home {
    text-align: left;
    line-height: 74px;
position: absolute;
bottom:74px;
left:129px;
}
span{
    background-image: linear-gradient(transparent 0%, transparent 65%, #F9B813 65%, #F9B813 90%, transparent 90%, transparent);
  display: inline;
  font-size: 3rem;
  color: #351C75;
}
.hero-heading {
width: 100%;
position: relative;
background-image: url('../images/sam-mcghee-4siwRamtFAk-unsplash 1.png');
background-repeat: none;
background-size: cover;
height: 100%;
}
.heroMobile{
    display: none;
}
.twoMenSmall{
    display: none;
}
.earlyAustinLighthouseSmall{
    display: none;
}
/* .mission {
    width: 100%;
    padding-right: 6em;
    margin-left: 1em;
    
} */
.program-list, .program-list2 {
    display: flex;
}
.program-list4, .program-list5 {
    display: flex;
    justify-content: space-evenly;
}
.program, .program2, .program3 {
 
    justify-content: flex-end;
    padding: 1.5em 5em;
 
}
.program3 .h2-home{
    justify-content: center;
    /* padding: 0 50px; */
 
}


.program {
    order: 1; 

}
.program2 {
    order: -1;
}
.program2 p{
    padding-top: 0em;
    /* letter-spacing: 1.2px; */
    font-size: 25px;
}
.program p {
    padding-top: 0em;
    /* letter-spacing: 1.2px; */
    font-size: 25px;
}
.ourmission, .ourhistory, .meetaustinlighthouse {
    display: flex;
height: 100%;
padding: 5em 0;
}
.ourmission {
    background-color: white;
}
.ourhistory {
    background-color: #FDF8E0;
}
#history{
    border-radius: 2px;
    background-color: #351C75;
    border: 2px solid transparent;
    color: #FFFFFF;
    font-size: 22px;
    color: white;
    width: 15em;
    cursor: pointer;
    margin: 1em 0 0 0;
    
}
#history:hover{
    border: 2px solid #351C75;
    background-color: white;
    color:#351C75
    /* font-weight: 600; */
}

.meetaustinlighthouse {
    background-color: white;
}
.meetaustinlighthouse {
    height: 1818px;
    padding: 5em 0;
    width: 100%;
}
.donation-home {
    background-color: #ffffff;
    
}
.donation-card {
    background-color: #2B7357;
    height: 370px;
    width: 80%;
    margin: 0 auto;
}
.program-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.program-list {
    display: flex;
    justify-content: space-around;
    /* padding: 0 4em; */
}
.card {
    padding-top: .5em;
    margin-left: 0em;
    width: 337px;
    min-width: 337px;
    height: 650px;
    /* outline: 1px solid black; */
    border-top: 5px solid #2B7357; 
    position: relative;   
    display: flex;
    flex-direction: column;  
    align-content: space-between;  
}
.cardButton{
    display: none;
}
.card-image {
    width: 100%;
    height: 274px;
    text-align: right;
    position: relative;
}
#card-1 {
    background-image: linear-gradient(to bottom, rgba(53,28,117,0), rgba(53,28,117,0)), 
    url('../images/board-1.png');
}
#card-2 {
    background-image: linear-gradient(to bottom, rgba(53,28,117,0), rgba(53,28,117,0)), 
    url('../images/board-2.png');
}
#card-3 {
    background-image: linear-gradient(to bottom, rgba(53,28,117,0), rgba(53,28,117,0)), 
    url('../images/board-3.png');
}
#card-4 {
    background-image: linear-gradient(to bottom, rgba(53,28,117,0), rgba(53,28,117,0)), 
    url('../images/board-4.png');
}
#card-5 {
    background-image: linear-gradient(to bottom, rgba(53,28,117,0), rgba(53,28,117,0)), 
    url('../images/board-5.png');
}
#card-6 {
    background-image: linear-gradient(to bottom, rgba(53,28,117,0), rgba(53,28,117,0)), 
    url('../images/board-6.png');
}
.h4-placing {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    padding: .5em;
    width: 50%;
}
.card-text {
    padding: 1em 1.5em;
    font-weight: bold;
    background-color: #F5F5F5;
}
.card-textregular {
    padding: 0em 1.5em 2em 1.5em;
    background-color: #F5F5F5;
}
/* Footer CSS */
.footer {
    width: 80%;
    margin: 0 auto;
    /* max-width: 1440px; */
    background-color: #351C75;
    border-radius: 70px 0px 0px 0px;
    padding: 2em 0;
    color:white;
    min-height: 28.75em;
}
.siteMapGrid {
    display: grid;
    margin: 0 4em 0 4em;
    justify-content: space-around;
    grid-template-rows: auto;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas:
    "aboutNav servicesNav careersNav resourcesNav shopNav"
    ;
}
.siteMapGridArea {
    display: grid;
    align-content: start;
    justify-content: space-around;
    max-width:  175px;
    /* margin-right: 1.5em; */
}
.about {
    color: #F9B813;
}
.services {
    color: #F9B813;
}
.careers {
    color: #F9B813;
}
.resources {
    color: #F9B813;
}
.shop {
    color: #F9B813;
}
.footerLink {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}
.footerLink:visited {
    color: white;
}
.footerLink:hover {
    color: white;
}
.footerLink:active {
    color: white;
} 
.footerLi {
    color: white;
    padding: 0.5em 0;
}
.footerUl {
    margin:0;
    padding: 0.9em 0;
    list-style-type:none;
}
.flexFooter {
    display: flex;
}
#socialLinks {
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5em;
    margin-top: 6em;
    grid-area: socialLinks;
}
#contact {
    flex-direction: row;
    margin: -2.5em 0 0 20em;
    grid-area: contact;
}
#contactLogo {
    grid-area: contactLogo;
    margin-left: 2.6em;
}
.adress {
    align-self: end;
    color: white;
    /* margin-left: 12em; */
}
.privacy {
    font-size: 0.6rem;
    color: #F9B813;
    align-self: end;
    margin-left: 20em;
}
#socialIcons {
    padding-right: 2em;
    grid-area: soicalIcons;
}
#facebook {
    padding-right: 2em;
}
.sitemapH1 {
    font-size: 1rem;
    color: #F9B813;
}
.h1-social{
    align-self: center;
    color: #F9B813;
    font-size: 1rem;
}
@media only screen and (max-width: 800px) {

    h2, span {
        font-size: 2rem;
    }

    .container {
        width: 100%;
    }

        #testimonial-img img{
        width: 100%;
    }

    .program-list {
        flex-wrap: wrap;
    }

    .program-grid {
        /* outline: 1px solid black; */
        padding: 2em;
         height: 100%;
         width: 100%;
         padding: 2em 0;
         margin: 0 auto;
         display: grid;
         /* outline: 1px solid black; */
         grid-template-rows: 25% 25% 25% 25%;
         grid-template-columns: 50% 50%;
         grid-template-areas: 
         "program-h2 program-h2"
         "program-card1 program-card2"
         "program-card3 testimonial-text"
         "testimonial-video testimonial-video";
          justify-content: center;
     }

     #testimonial-text div {
         margin: 0 auto;
     }

     .donation-home {
        background-color: #ffffff;
        margin: 0 auto;
        
    }

    .donation-card {
      
        width: 100%;
       
    }

    #testimonial-text {
        padding: 0;
    }

}

@media only screen and (max-width: 500px) {

    h1 {
        font-size: 2.5rem;
    }

    .h1-home {
        text-align: left;
        padding: 0;
    }
    .hero {
        width: 500px;    
    }
    .mission {
        font-size: 1.25rem;
    }

    .hero, .program-list {
        flex-direction: column;
    }
    
    .h1-home {
        text-align: left;
        line-height: 74px;
        position: absolute;
        bottom:74px;
        left:20px;
    }
    .program, .program2, .program3 {
        /* justify-content: flex-end; */
        padding: 1.5em 1em;
     
     
    }
    .card {
        padding-top: .5em;
        /* margin-left: 0em; */
        /* width: 337px; */
        /* min-width: 337px; */
        height: 580px;
        /* outline: 1px solid black; */
        border-top: 5px solid #2B7357; 
        position: relative;   
        display: flex;
        flex-direction: column;  
        align-content: center;  
    }
    .program-list{
        align-content: center;
    }
    .program-list5{
        display: none;
    }
    .program-list2{
        display:flex;
        flex-direction: column-reverse;
        /* order:-2; */
    }
    
    .program2 p{
      margin: 0 auto;
        
    }
    .cardButton{
        border-radius: 2px;
        background-color: #2B7357;
        border: 2px normal transparent;
        color: #FFFFFF;
        font-size: 22px;
        color: white;
        width: 15em;
        cursor: pointer;
        margin: 1em 0 0 0;
        display: block;
        
    }
    .cardButton:hover{
        border: 2px solid #2B7357;
        background-color: white;
        color:#2B7357
        /* font-weight: 600; */
    }
    .hero-heading{
        background-image: none;
    }
    .twoMenBig{
        display: none;
    }
    .earlyAustinBig{
        display: none;
    }
    .heroMobile{
        display: inline;
        max-width: 100vh;
    }

    .program .missionText{
        width: 450px;
    }
    .program2 .historyText{
        width: 450px;
    }
    #history{
        margin: 2em 0 0 0;
    }
    .twoMenSmall{
        display: block;
    }
    .earlyAustinLighthouseSmall{
        display: block;
    }
    .footer {
        margin-top:22em;
        min-height: unset !important;
        width:100%;
    }
    .flexBottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
    }
    .siteMapGrid {
        display: none;
    }
    #contact {
        display: unset !important;
        margin: unset !important;
    }
    .h1-social {
        display:none;
    }
    .privacy {
        display: none;
    }
    #socialLinks {
        margin: 0 auto;
        order: 1;
    }
    #contactLogo {
        margin: 0 .75em 0 1em;
        padding: 0 2em 0 6.5em;
    }
    .footerLogo {
        margin-left: .25em;
    }
    .flexFooter {
        display: unset !important;
    }
    .adress {
        text-align: center;
        margin: 2.5em 5em;
    }
}


