/*
Version notes: 

    FROM v2: 

    cards are set as display: flex; flex-direction: column
    align-content: space-between
    
    button is set as 100% width with padding: 10px 0px;

    media queries started for tablet and mobile
     
    ********************************
    
*/

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #4B4B4B;

}

/* Typography */

h1 {
    font-size: 4.5rem;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
    color: #351C75;
    line-height: .9em;
}

h3 {
    font-size: 2.25rem;
    color: #ffffff;
}

h4 {
    font-size: 1.5rem;
    color: #ffffff;
}

.mission {
    color: #F9B813;
}

.h1-home {
    color: white;
}

a {
    text-decoration: none;
}

.btn {
    /* width: 100%; */
    text-align: center;
}

span{
    background-image: linear-gradient(transparent 0%, transparent 65%, #F9B813 65%, #F9B813 90%, transparent 90%, transparent);
  display: inline;
  font-size: 3rem;
  color: #351C75;
}

/* Layout */

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1440px;
    background-color: #fdfdfd;
    /* min-width: 700px; */
}

section {
    width: 100%;
    height: 100%;
}


.header-top {
    height: 140px;
    width: 100%;
    background-color: #2B7357;
    display: flex;
}

.logo {
    align-items: center;
    padding-left: 5em;
}

nav {
   background-color: #FDF8E0;
   height: 90px;
}

/* HERO SECTION */

.hero {
    background: linear-gradient(0deg, rgba(53,28,117,0.8), rgba(53,28,117,0.8)),
    url('../images/woman-crossing-street-with-blind-cane.jpg');
    background-repeat: none;
    background-size: cover;
    background-color: #351C75;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-home {
    text-align: right;
    line-height: .8em;
    
}


.h2-home {
    line-height: .9em;
    margin: 2em;
    padding-top: 1em;
    
}

.hero-heading {
    width: 40%;
    margin: 0 1em 0 2em;
}

.mission {
    width: 60%;
    padding-right: 6em;
    margin-left: 1em;
    font-size: 1.25rem;

}

/* PROGRAM SECTION */

.h2-content {
    margin: 1em 2em;
}

.programs {
    background-color: #E5E5E5;
    height: 100%;
    padding-bottom: 6em;
    /* outline: 1px solid black; */    
}

.program-grid {
    /* outline: 1px solid black; */
    /* padding: 2em; */
     height: 100%;
     width: 100%;
     padding: 2em 0;
     margin: 0 auto;
     display: grid;
     /* outline: 1px solid black; */
     grid-template-rows: 50% 50%;
     grid-template-columns: 33.3% 33.3% 33.3%;
     grid-template-areas: 
     "program-card1 program-card2 program-card3"
     "testimonial-video testimonial-video testimonial-text";
     justify-items: center;
 }
 
 #program-card1, #program-card2, #program-card3 { 
     padding-top: .5em;
     border-top: 7px solid #DC5536; 
     display: flex;
     flex-direction: column;
     align-content: space-between;  
     margin: 0 1em 2em 0;
     width: 85%;
 }
 
 
 #program-card1 {
     
     grid-area: program-card1;
 }
 
 #program-card2 {
     
     grid-area: program-card2;
 }
 
 #program-card3 {
     
     grid-area: program-card3;
 }
 
 #program-h2 h2{
     /* grid-area: program-h2; */
     padding: 1em 1em;
 }

/* .program-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.program-list {
    display: flex;
    justify-content: space-around;
    padding: 0 4em;
} */

.card {
    padding-top: .25em;
    margin-left: .5em;
    width: 360px;
    min-width: 360px;
    height: 500px;
    /* outline: 1px solid black; */
    border-top: 10px solid #DC5536; 
    position: relative;   
    display: flex;
    flex-direction: column;  
    align-content: space-between;  
}

.card-image {
    width: 100%;
    height: 300px;
    text-align: right;
    position: relative;
}

#card-1, #card-2, #card-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#card-1 {
    background-image: linear-gradient(to bottom, rgba(53,28,117,0.05), rgba(53,28,117,0.5)), 
    url('../images/braille-screenreader.jpg');
    
}

#card-2 {
    background-image: linear-gradient(to bottom, rgba(53,28,117,0.05), rgba(53,28,117,0.5)), 
    url('../images/woman-reading-braille.jpg');
}

#card-3 {
    background-image: linear-gradient(to bottom, rgba(53,28,117,0.05), rgba(53,28,117,0.5)), 
    url('../images/blind-man-using-mobile-device.jpg');
}

.h4-placing {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    padding: .5em;
    width: 50%;
}

.card-text {
    padding: 1em;
    font-size: 1.25rem;
}

.card-button {
    width: 100%;
    /* position: absolute;
    bottom: 0; */
    padding: 15px 0;
    background-color: #DC5536;
    color: white;
    font-weight: 700;
    display: block;

}
.card-button:hover{
    outline: 3px solid #DC5536;
    background-color: white;
    
    color:#DC5536 ;

}






/* TESTIMONIALS SECTION */

/* TESTIMONIALS SECTION */

#testimonial-video, #testimonial-text {
    background-color: rgb(241, 199, 0, 0.12);
    padding: 5em 0;
}    

#testimonial-video {
    
    grid-area: testimonial-video;
    align-items: center;
    margin: 0 0 0 -15em;
 }

 #testimonial-img {
     height: 300px;
     padding: 0 9em;
 }

#testimonial-text {
   /* outline: 1px solid black; */
    grid-area: testimonial-text;
    justify-content: center;  
    margin:    0 0 0 -15em;
    
}

#testimonial-text div {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0 7em;
    /* outline: 1px solid black; */
}

#testimonial-text p { 
   /* outline: 1px solid black; */
   padding: 20px 0px;
   /*  margin: 2em 0; */
   font-size: 1.25rem;
}

.narrow {
    width: 75%;
}

.extra-narrow {
    width: 50%;
}




/* DONATION SECTION */


.donation-home {
    background-color: #ffffff;
    margin: 2em 0;
    height: 100%;
    
}

.donation-card {
    background-color: #2B7357;
    height: 370px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.donation-card h3 {
    
    padding: 1em; 
    width: 66%;
}

.donation-card div {
    
    padding: 2em;
    margin-left: 1em;
    width: 450px;
    text-align: center;
}



.donate-button {
    width: 55px 300px;
    /* position: absolute;
    bottom: 0; */
    padding: 10px 0;
    background-color: #F9B813;
    color: white;
    display: block;
    font-weight: 700;
    margin-top: 2em;
    border: 2px solid transparent;

}

.donate-button:hover,
.donate-button:focus {
    background-color: white;
    color: #351C75;
    border: 2px solid #351C75;
}

.partners {
    
    
    margin: 2em;
}

.logos {
    /* padding: 0 2em; */
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.logos img {
    margin: 1em;
}


/* Footer CSS */
.footer {
    width: 80%;
    margin: 0 auto;
    /* max-width: 1440px; */
    background-color: #351C75;
    border-radius: 70px 0px 0px 0px;
    padding: 2em 0;
    color:white;
    min-height: 28.75em;
}
.siteMapGrid {
    display: grid;
    margin: 0 4em 0 4em;
    justify-content: space-around;
    grid-template-rows: auto;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas:
    "aboutNav servicesNav careersNav resourcesNav shopNav"
    ;
}
.siteMapGridArea {
    display: grid;
    align-content: start;
    justify-content: space-around;
    max-width:  175px;
    /* margin-right: 1.5em; */
}
.about {
    color: #F9B813;
}
.services {
    color: #F9B813;
}
.careers {
    color: #F9B813;
}
.resources {
    color: #F9B813;
}
.shop {
    color: #F9B813;
}
.footerLink {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}
.footerLink:visited {
    color: white;
}
.footerLink:hover {
    color: white;
}
.footerLink:active {
    color: white;
} 
.footerLi {
    color: white;
    padding: 0.5em 0;
}
.footerUl {
    margin:0;
    padding: 0.9em 0;
    list-style-type:none;
}
.flexFooter {
    display: flex;
}
#socialLinks {
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5em;
    margin-top: 6em;
    grid-area: socialLinks;
}
#contact {
    flex-direction: row;
    margin: -2.5em 0 0 20em;
    grid-area: contact;
}
#contactLogo {
    grid-area: contactLogo;
    margin-left: 2.6em;
}
.adress {
    align-self: end;
    color: white;
    /* margin-left: 12em; */
}
.privacy {
    font-size: 0.6rem;
    color: #F9B813;
    align-self: end;
    margin-left: 20em;
}
#socialIcons {
    padding-right: 2em;
    grid-area: soicalIcons;
}
#facebook {
    padding-right: 2em;
}
.sitemapH1 {
    font-size: 1rem;
    color: #F9B813;
}
.h1-social{
    align-self: center;
    color: #F9B813;
    font-size: 1rem;
}

/* @media only screen and (min-width: 801px) {

   .program-grid {
    grid-template-areas: "program-card1 program-card2 program-card3" 
    "testimonial testimonial testimonial";
   } 

   #testimonial-text {
       grid-area: testimonial;
       background-color: rgb(241, 199, 0, 0.12);
   }

   #testimonial-video {
       grid-area: testimonial;
       background-color: rgb(241, 199, 0, 0.12);
   }


} */

@media only screen and (max-width: 800px) {

    h2, span {
        font-size: 2rem;
    }

    .container {
        width: 100%;
    }

        #testimonial-img img{
        width: 100%;
    }

    .program-list {
        flex-wrap: wrap;
    }

    .program-grid {
        /* outline: 1px solid black; */
        padding: 2em;
         height: 100%;
         width: 100%;
         padding: 2em 0;
         margin: 0 auto;
         display: grid;
         /* outline: 1px solid black; */
         grid-template-rows: 25% 25% 25% 25%;
         grid-template-columns: 50% 50%;
         grid-template-areas: 
         "program-h2 program-h2"
         "program-card1 program-card2"
         "program-card3 testimonial-text"
         "testimonial-video testimonial-video";
          justify-content: center;
     }

     #testimonial-text div {
         margin: 0 auto;
     }

     .donation-home {
        background-color: #ffffff;
        margin: 0 auto;
        
    }

    .donation-card {
      
        width: 100%;
       
    }

    #testimonial-text {
        padding: 0;
    }

}

@media only screen and (max-width: 500px) {

    h1 {
        font-size: 2.5rem;
    }

    .h1-home {
        font-size: 2.5rem;
        text-align: left;
        padding: 0;

    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    .mission {
        font-size: 1rem;
    }

    .hero, .program-list {
        flex-direction: column;
        
    }

    .hero {
        align-items: flex-start;
    }

    .hero-heading {
        margin: 0 0 1em 1em;

    }

    .footer {
        min-height: unset !important;
        width:100%;
    }
    .flexBottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
    }
    .siteMapGrid {
        display: none;
    }
    #contact {
        display: unset !important;
        margin: unset !important;
    }
    .h1-social {
        display:none;
    }
    .privacy {
        display: none;
    }
    #socialLinks {
        margin: 0 auto;
        order: 1;
    }
    #contactLogo {
        margin: 0 .75em 0 1em;
        padding: 0 2em 0 6.5em;
    }
    .footerLogo {
        margin-left: .25em;
    }
    .flexFooter {
        display: unset !important;
    }
    .adress {
        text-align: center;
        margin: 2.5em 5em;
    }

    .program-grid {
        /* outline: 1px solid black; */
        padding: 2em;
        display: block;
     }

     #program-h2 {
        
        margin: 1em 5%;
    }

    #testimonial-text div {
        margin: 1em 2em;
        
        /* outline: 1px solid black; */
    }

    #testimonial-img {
        margin: -2em;
        width: 500px;
     }

     #testimonial-video {
        
        padding: 2em 0;
    }

    #testimonial-text {
        margin: 0 2em 0 -2em;
        padding: 1em;
    }

}