/*
Version notes: 

    FROM v2: 

    cards are set as display: flex; flex-direction: column
    align-content: space-between
    
    button is set as 100% width with padding: 10px 0px;

    media queries started for tablet and mobile
     
    ********************************
    
*/

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #4B4B4B;

}

/* Typography */

h1 {
    font-size: 4.5rem;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
    color: #351C75;
    line-height: .9em;
}

h3 {
    font-size: 2.25rem;
    color: #ffffff;
}

h4 {
    font-size: 1.5rem;
    color: #ffffff;
}

.mission {
    color: #F9B813;
}

.h1-home {
    color: white;
}

a {
    text-decoration: none;
}

.btn {
    /* width: 100%; */
    text-align: center;
}

/* Layout */

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1440px;
    background-color: #fdfdfd;
    /* min-width: 700px; */
}

section {
    width: 100%;
    height: 100%;
}


.header-top {
    height: 140px;
    width: 100%;
    background-color: #2B7357;
    display: flex;
}

.logo {
    align-items: center;
    padding-left: 5em;
}

nav {
   background-color: #FDF8E0;
   height: 90px;
}

/* HERO SECTION */

.hero {
    background: linear-gradient(0deg, rgba(53,28,117,0.8), rgba(53,28,117,0.8)),
    url('../images/woman-crossing-street-with-blind-cane.jpg');
    background-repeat: none;
    background-size: cover;
    background-color: #351C75;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-home {
    text-align: right;
    line-height: .8em;
    
}


.h2-home {
    line-height: .9em;
    margin: 2em;
    padding-top: 1em;
    
}

.hero-heading {
    width: 40%;
    margin: 0 1em 0 2em;
}

.mission {
    width: 60%;
    padding-right: 6em;
    margin-left: 1em;
}

/* PROGRAM SECTION */

.h2-content {
    margin: 1em 2em;
}

.programs {
    background-color: #E5E5E5;
    height: 100%;
    padding-bottom: 6em;
    /* outline: 1px solid black; */    
}

.program-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.program-list {
    display: flex;
    justify-content: space-around;
    padding: 0 4em;
}

.card {
    padding-top: .5em;
    margin-left: .5em;
    width: 360px;
    min-width: 360px;
    height: 500px;
    /* outline: 1px solid black; */
    border-top: 5px solid #DC5536; 
    position: relative;   
    display: flex;
    flex-direction: column;  
    align-content: space-between;  
}

.card-image {
    width: 100%;
    height: 280px;
    text-align: right;
    position: relative;
}

#card-1, #card-2, #card-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#card-1 {
    background-image: linear-gradient(to bottom, rgba(53,28,117,0.05), rgba(53,28,117,0.5)), 
    url('../images/braille-screenreader.jpg');
    
}

#card-2 {
    background-image: linear-gradient(to bottom, rgba(53,28,117,0.05), rgba(53,28,117,0.5)), 
    url('../images/woman-reading-braille.jpg');
}

#card-3 {
    background-image: linear-gradient(to bottom, rgba(53,28,117,0.05), rgba(53,28,117,0.5)), 
    url('../images/blind-man-using-mobile-device.jpg');
}

.h4-placing {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    padding: .5em;
    width: 50%;
}

.card-text {
    padding: 3em 1.5em;
}

.card-button {
    width: 100%;
    /* position: absolute;
    bottom: 0; */
    padding: 10px 0;
    background-color: #DC5536;
    color: white;
    display: block;

}



.program-grid {
    height: 100%;
    width: 100%;
    padding: 2em 0;
    margin: 0 auto;
    display: grid;
    /* outline: 1px solid black; */
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-areas: 
    "program-h2 program-h2 program-h2"
    "program-card program-card program-card"
    "testimonial-video testimonial-text testimonial-text";
}

.try-this {
    padding-top: 2em;
    border-top: 5px solid #DC5536; 
    display: flex;
    flex-direction: column;
    align-content: space-between;  
    margin: 0 1em;
    grid-area: program-card;
}

#program-h2 {
    grid-area: program-h2;
    margin: 1em 2em;
}

/*

#program-card {
    grid-area: program-card;
}

*/
#testimonial-video, #testimonial-text {
    background-color: rgb(241, 199, 0, 0.12);
}

#testimonial-video {
    width: 450px;
    grid-area: testimonial-video;
    padding: 2em;
    outline: 1px solid black;
    text-align: center;
}

#testimonial-text {
    grid-area: testimonial-text;
    outline: 1px solid black;
    width: 600px;
    
}


/* TESTIMONIALS SECTION */

.testimonials {
    height: 645px;
    background-color: rgb(241, 199, 0, 0.12);
}

.donation-home {
    background-color: #ffffff;
    
}

.donation-card {
    background-color: #2B7357;
    height: 370px;
    width: 80%;
    margin: 0 auto;
}

footer {
    background-color: #351C75;
    height: 575px;
}


@media only screen and (max-width: 800px) {

    .container {
        width: 100%;
    }

    .card {
        min-width: 250px;
        max-width: 250px;


    }

    .program-list {
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 500px) {

    h1 {
        font-size: 2.5rem;
    }

    .mission {
        font-size: 1.25em;
    }

    .hero, .program-list {
        flex-direction: column;
    }


}